<div class="wrapper">
  <nav id="sidebar" [ngClass]="{'active': isClassVisible }">
    <div class="sidebar-header">
      <img id="img_large" src="archiving/assets/image/speos_logo.png" style="width: 180px;"/>
      <img id="img_small" src="archiving/assets/image/speos_logo_sm.png" style="width: 40px;"/>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="glyphicon glyphicon-home"></i>
          Home
        </a>
      </li>
      <li *ngFor="let menuItem of menuItemList" [ngClass]="{'active' : (menuItem.name == activeMenu)}">
        <a href="{{menuItem.url}}">
          <i [ngClass]="menuItem.icon" aria-hidden="true"></i>
          {{menuItem.name}}
        </a>
      </li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="navbar-btn"
                  (click)="isClassVisible = !isClassVisible;">
            <i class="fa fa-align-justify" aria-hidden="true"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="panel">
      <div>
        <div class="row">
          <div class="col-md-12">
            <h1>{{items}}</h1>
            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng2-slim-loading-bar color="red"></ng2-slim-loading-bar>
