<!--The content below is only a placeholder and can be replaced.-->
<div class="card">
  <div class="card-header">
    Archiving Details
  </div>
  <div class="card-block">
    <br/>
    <table class="table table-striped table-bordered">
      <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of archiveList">
        <td>{{item.id}}</td>
        <td align="left">{{item.name}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr *ngIf="!archiveList">
        <td colspan="3">No records found!</td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

